@keyframes pokeFadeOut {
  0% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  24% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  25% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  49% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  50% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  74% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  75% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  94% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  95% {
    filter: contrast(0) brightness(3);
    opacity: 0; }
  100% {
    filter: contrast(0) brightness(3);
    opacity: 0; } }

@keyframes pokeFadeIn {
  0% {
    filter: contrast(0) brightness(3);
    opacity: 0; }
  24% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  25% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  49% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  50% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  74% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  75% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  94% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  95% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  100% {
    filter: contrast(1) brightness(1);
    opacity: 1; } }

@keyframes pokeFadeOutLight {
  0% {
    opacity: 1; }
  24% {
    opacity: 1; }
  25% {
    opacity: 0.75; }
  49% {
    opacity: 0.75; }
  50% {
    opacity: 0.5; }
  74% {
    opacity: 0.5; }
  75% {
    opacity: 0.25; }
  94% {
    opacity: 0.25; }
  95% {
    opacity: 0; }
  100% {
    opacity: 1;
    background-color: #fff; } }

@keyframes pokeFadeInLight {
  0% {
    opacity: 0; }
  24% {
    opacity: 0.25; }
  25% {
    opacity: 0.25; }
  49% {
    opacity: 0.5; }
  50% {
    opacity: 0.5; }
  74% {
    opacity: 0.75; }
  75% {
    opacity: 0.75; }
  94% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes animateCaption {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animateCTA {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
