@import "./Animations.scss";
@import "./scenes/Meet.scss";
@import "./scenes/Engagement.scss";
@import "./scenes/Wedding.scss";
@import "./scenes/House.scss";
@import "./scenes/Virus.scss";
@import "./scenes/Now.scss";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  p {
    font-size: 0.8em;
  }

  button.nes-btn  {
    font-size: 0.8em;
  }
  
  .app-wrapper {
    width: 100%;
    height: 100%;

    &.light-animate {
      opacity: 1;
      background-color: #000;
      animation: pokeFadeOutLight 2s forwards;
      animation-delay: 0s;
    }

    &.dark-animate {
      opacity: 0;
      animation: pokeFadeInLight 1s forwards;
      animation-delay: 1s;
      background-color: #000;
    }
  }

  .route-outer-wrapper {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    overflow: hidden;
    width: 100%;
    padding: 2em 1em;
    


    .route-inner-wrapper {
      max-width: 750px;
      margin: 0 auto;      
    }
  }
  
  .example-enter {
    opacity: 0.01; 
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 100ms ease-in;
  }
  
  
  img {
    max-width: 100%;
  }
  
  .pokeFadeOut {
    animation: pokeFadeOut 1s;
    opacity: 0;
  }
  
  .pokeFadeIn {
    animation: pokeFadeIn 1s;
    opacity: 1;
  }
  
  .Typist {
    text-align: left;
  }

    /**
    * All scenes
    */

    .nes-container.text-caption {
        margin-top: 2em;
    }
  
    .scene-base {
        width: 100%;
    }

    .scene-animatable {
        width: 100%;
        top: 0;
        left: 0;    
        position: absolute;
        transform: translate(-50%, -50%);      
    }