@keyframes pokeFadeOut {
  0% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  24% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  25% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  49% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  50% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  74% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  75% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  94% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  95% {
    filter: contrast(0) brightness(3);
    opacity: 0; }
  100% {
    filter: contrast(0) brightness(3);
    opacity: 0; } }

@keyframes pokeFadeIn {
  0% {
    filter: contrast(0) brightness(3);
    opacity: 0; }
  24% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  25% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  49% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  50% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  74% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  75% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  94% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  95% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  100% {
    filter: contrast(1) brightness(1);
    opacity: 1; } }

@keyframes pokeFadeOutLight {
  0% {
    opacity: 1; }
  24% {
    opacity: 1; }
  25% {
    opacity: 0.75; }
  49% {
    opacity: 0.75; }
  50% {
    opacity: 0.5; }
  74% {
    opacity: 0.5; }
  75% {
    opacity: 0.25; }
  94% {
    opacity: 0.25; }
  95% {
    opacity: 0; }
  100% {
    opacity: 1;
    background-color: #fff; } }

@keyframes pokeFadeInLight {
  0% {
    opacity: 0; }
  24% {
    opacity: 0.25; }
  25% {
    opacity: 0.25; }
  49% {
    opacity: 0.5; }
  50% {
    opacity: 0.5; }
  74% {
    opacity: 0.75; }
  75% {
    opacity: 0.75; }
  94% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes animateCaption {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animateCTA {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/**
  * Meet
  */
.scene-meet .couple {
  width: 100%; }

.scene-meet .spark {
  opacity: 0;
  left: 85.1%;
  top: 116%; }

.scene-meet .spark.animate {
  animation: animateSpark 4s; }

.scene-meet .monitor {
  opacity: 0;
  left: 77%;
  top: 118.6%; }

.scene-meet .monitor.animate {
  animation: animateMonitors 4s forwards; }

.scene-meet .caption {
  opacity: 0; }

.scene-meet .caption.animate {
  animation: animateCaption 2s forwards;
  animation-delay: 4s; }

.scene-meet .cta {
  opacity: 0; }

.scene-meet .cta.animate {
  animation: animateCTA 1s forwards;
  animation-delay: 8s; }

@keyframes animateSpark {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  25.1% {
    opacity: 1;
    left: 85.1%;
    top: 110.2%; }
  35% {
    left: 85.1%;
    top: 114.5%; }
  60% {
    left: 112%;
    top: 114.5%; }
  80% {
    opacity: 1;
    left: 112%;
    top: 110.2%; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: 112%;
    top: 110.2%; } }

@keyframes animateMonitors {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  10% {
    opacity: 0; }
  15% {
    opacity: 1; }
  24% {
    opacity: 1; }
  25% {
    opacity: 0;
    left: 77%;
    top: 118.6%; }
  79% {
    opacity: 0;
    left: 116%; }
  80% {
    opacity: 1;
    left: 116%; }
  85% {
    opacity: 0; }
  90% {
    opacity: 1; }
  95% {
    opacity: 0; }
  100% {
    opacity: 1;
    left: 116%; } }

/**
  * Engagement
  */
.scene-engagement .couple {
  width: 100%; }

.scene-engagement .exclamation-bubble {
  opacity: 0;
  left: 70%;
  top: 60%; }

.scene-engagement .exclamation-bubble.animate {
  animation: animateExclamation 2s forwards; }

.scene-engagement .caption {
  opacity: 0; }

.scene-engagement .caption.animate {
  animation: animateCaption 2s forwards;
  animation-delay: 2s; }

.scene-engagement .cta {
  opacity: 0; }

.scene-engagement .cta.animate {
  animation: animateCTA 1s forwards;
  animation-delay: 5s; }

@keyframes animateExclamation {
  0% {
    opacity: 0; }
  19% {
    opacity: 0; }
  20% {
    opacity: 1; }
  39% {
    opacity: 1; }
  40% {
    opacity: 0; }
  59% {
    opacity: 0; }
  60% {
    opacity: 1; }
  79% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

/**
  * Wedding
  */
.scene-wedding .couple {
  width: 100%; }

.scene-wedding .confetti {
  top: 50%;
  left: 50%;
  opacity: 0; }

.scene-wedding .confetti.animate {
  animation: pokeFadeIn 2s forwards;
  animation-delay: 0.5s; }

.scene-wedding .caption {
  opacity: 0; }

.scene-wedding .caption.animate {
  animation: animateCaption 2s forwards;
  animation-delay: 3s; }

.scene-wedding .cta {
  opacity: 0; }

.scene-wedding .cta.animate {
  animation: animateCTA 1s forwards;
  animation-delay: 5s; }

/**
  * Meet
  */
.scene-house .couple {
  width: 100%; }

.scene-house .caption {
  opacity: 0; }

.scene-house .caption.animate {
  animation: animateCaption 1s forwards;
  animation-duration: 2s; }

.scene-house .cta {
  opacity: 0; }

.scene-house .cta.animate {
  animation: animateCTA 1s forwards;
  animation-delay: 9s; }

.scene-house .chimney {
  left: 0%;
  top: 0%;
  transform-origin: 63.4% 31.4%;
  transform: rotate(0deg); }

.scene-house .chimney.animate {
  animation: animateChimney 6s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-in; }

.scene-house .further-text {
  opacity: 0; }

.scene-house .further-text.animate {
  animation: pokeFadeIn 1s forwards;
  animation-delay: 8s; }

.scene-house .house-overlay {
  left: 50%;
  top: 50%; }

@keyframes animateChimney {
  0% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(5deg);
    left: 0%;
    top: 0%; }
  85% {
    top: 0%;
    left: 15%; }
  90% {
    transform: rotate(180deg);
    left: 15%;
    top: 41%; }
  100% {
    transform: rotate(180deg);
    left: 15%;
    top: 41%; } }

.scene-virus .virus {
  width: 200vh;
  height: 200vh;
  background-color: #000;
  margin-left: -50%;
  top: 0;
  /* margin-top: -100px; */
  z-index: -1; }

.scene-virus .nes-container.with-title > .title {
  background-color: #000;
  color: #f2f2f2; }

.scene-virus .nes-container p {
  color: #f2f2f2; }

.scene-virus .nes-container::after {
  border-color: #efefef; }

.scene-virus .caption {
  opacity: 0; }

.scene-virus .caption.animate {
  animation: animateCaption 2s forwards;
  animation-delay: 1s; }

.scene-virus .cta {
  opacity: 0; }

.scene-virus .cta.animate {
  animation: animateCTA 1s forwards;
  animation-delay: 6s; }

/**
  * Now
  */
.scene-now .couple {
  width: 100%;
  opacity: 0;
  margin-top: 120px; }

.scene-now .couple.animate {
  animation: pokeFadeIn 1s forwards;
  animation-delay: 18s; }

.scene-now .clickable {
  width: 100%;
  top: 50%;
  left: 5000%;
  height: 100%; }

.scene-now .clickable.animate {
  left: 50%;
  animation: animateClickable 1s forwards;
  animation-delay: 22s; }

.scene-now .progress-bar-container {
  padding-right: 7px;
  width: 100%;
  top: 50%;
  position: absolute;
  margin-top: -24px; }

.scene-now .progress-bar-container.rest-top.animate {
  animation: animateProgressBarMoveTop 1s forwards;
  animation-delay: 17s; }

.scene-now .loading-title {
  text-align: center; }

.scene-now .loading-title .loading-in {
  opacity: 0;
  display: none; }

.scene-now .loading-title .loading-in.animate {
  animation: pokeFadeInDisplayNone 1s forwards;
  animation-delay: 0s; }

.scene-now .loading-title .loading-out {
  opacity: 1; }

.scene-now .loading-title .loading-out.animate {
  animation: pokeFadeOutDisplayNone 1s forwards;
  animation-delay: 15s; }

.scene-now .loading-title .days-remaining {
  opacity: 0; }

.scene-now .loading-title .days-remaining.animate {
  animation: pokeFadeIn 1s forwards;
  animation-delay: 16s; }

.scene-now .progress-bar {
  opacity: 0;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  width: 100%;
  height: 48px;
  margin: 4px;
  color: #212529;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-image-repeat: space;
  margin-bottom: 1.5rem !important;
  border-style: solid;
  border-width: 4px; }

.scene-now .progress-bar .progress-meter, .scene-now .progress-bar .progress-meter-final {
  background-color: #000;
  height: 100%;
  width: 0%; }

.scene-now .progress-bar.animate {
  animation: pokeFadeIn 1s forwards;
  animation-delay: 0s; }

.scene-now .progress-bar.animate .progress-meter {
  animation: animateProgressMeter 12s forwards;
  animation-delay: 3s; }

.scene-now .progress-bar.animate .progress-meter-final {
  transition: width 1s ease;
  animation: animateProgressMeterFinal 1s forwards;
  animation-delay: 15s; }

.scene-now .caption {
  opacity: 0; }

.scene-now .caption.animate {
  animation: animateCaption 1s forwards;
  animation-delay: 19s; }

.scene-now .cta {
  opacity: 0; }

.scene-now .cta.animate {
  animation: animateCTA 1s forwards;
  animation-delay: 22s; }

.scene-now .cta .button-wrapper {
  padding-right: 1em; }

.scene-now .cta .button-wrapper:first-child {
  padding-right: 0; }

.scene-now .hand {
  opacity: 0;
  width: 10%;
  left: 64%;
  bottom: 5%;
  position: absolute; }

.scene-now .hand.animate {
  animation: pokeFadeIn 1s forwards;
  animation-delay: 22s; }

.scene-now .hand-pulse {
  opacity: 0;
  position: absolute;
  left: 46%;
  bottom: 10%;
  width: 10%;
  border-radius: 45px;
  animation: animationPulse 1s infinite;
  animation-delay: 22s; }

.scene-now .hand-pulse.animate-fade-in {
  animation: pokeFadeIn 1s forwards;
  animation-delay: 22s; }

.scene-now .hand-pulse.animate {
  animation: pokeFadeIn 1s forwards;
  animation-delay: 22s; }

.scene-now .share-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  padding-right: 1em; }

.scene-now .share-modal .nes-balloon {
  width: 100%;
  height: 100%;
  overflow: scroll; }

.scene-now .share-modal .icon-list {
  margin-bottom: 1em; }

.scene-now .share-modal .icon-list a {
  margin: 0.5em; }

.scene-now .share-modal .icon-list a:first-child {
  margin-left: 0; }

.scene-now .share-modal .icon-list a:last-child {
  margin-right: 0; }

.scene-now .baby-scan {
  width: 50%;
  margin: 0 auto; }

@keyframes animateProgress {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animateProgressMeter {
  0% {
    width: 0%; }
  10% {
    width: 30%; }
  15% {
    width: 30%; }
  30% {
    width: 50%; }
  40% {
    width: 50%; }
  60% {
    width: 80%; }
  80% {
    width: 0%; }
  100% {
    width: 0%;
    display: none; } }

@keyframes animateProgressBarMoveTop {
  100% {
    top: 0;
    margin-top: 0; } }

@keyframes pokeFadeOutDisplayNone {
  0% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  24% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  25% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  49% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  50% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  74% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  75% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  94% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  95% {
    filter: contrast(0) brightness(3);
    opacity: 0;
    position: inherit; }
  100% {
    filter: contrast(0) brightness(3);
    opacity: 0;
    position: fixed; } }

@keyframes pokeFadeInDisplayNone {
  0% {
    display: inherit;
    filter: contrast(0) brightness(3);
    opacity: 0; }
  24% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  25% {
    filter: contrast(0.175) brightness(2);
    opacity: 0.25; }
  49% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  50% {
    filter: contrast(0.25) brightness(2);
    opacity: 0.5; }
  74% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  75% {
    filter: contrast(0.5) brightness(1.5);
    opacity: 0.75; }
  94% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  95% {
    filter: contrast(1) brightness(1);
    opacity: 1; }
  100% {
    filter: contrast(1) brightness(1);
    opacity: 1; } }

@keyframes animationPulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 156, 238, 0.8); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(33, 156, 238, 0.2); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 156, 238, 0.2); } }

@keyframes animateClickable {
  100% {
    left: 50%; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

p {
  font-size: 0.8em; }

button.nes-btn {
  font-size: 0.8em; }

.app-wrapper {
  width: 100%;
  height: 100%; }

.app-wrapper.light-animate {
  opacity: 1;
  background-color: #000;
  animation: pokeFadeOutLight 2s forwards;
  animation-delay: 0s; }

.app-wrapper.dark-animate {
  opacity: 0;
  animation: pokeFadeInLight 1s forwards;
  animation-delay: 1s;
  background-color: #000; }

.route-outer-wrapper {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  overflow: hidden;
  width: 100%;
  padding: 2em 1em; }

.route-outer-wrapper .route-inner-wrapper {
  max-width: 750px;
  margin: 0 auto; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in; }

img {
  max-width: 100%; }

.pokeFadeOut {
  animation: pokeFadeOut 1s;
  opacity: 0; }

.pokeFadeIn {
  animation: pokeFadeIn 1s;
  opacity: 1; }

.Typist {
  text-align: left; }

/**
    * All scenes
    */
.nes-container.text-caption {
  margin-top: 2em; }

.scene-base {
  width: 100%; }

.scene-animatable {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-50%, -50%); }
