@import "./Animations.scss";
@import "./scenes/Meet.scss";
@import "./scenes/Engagement.scss";
@import "./scenes/Wedding.scss";
@import "./scenes/House.scss";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  
  .example-enter {
    opacity: 0.01; 
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 100ms ease-in;
  }
  
  
  img {
    max-width: 100%;
  }
  
  .pokeFadeOut {
    animation: pokeFadeOut 1s;
    opacity: 0;
  }
  
  .pokeFadeIn {
    animation: pokeFadeIn 1s;
    opacity: 1;
  }
  
  .Typist {
    text-align: left;
  }

    /**
    * All scenes
    */

    .nes-container.text-caption {
        margin-top: 2em;
    }
  
    .scene-base {
        width: 100%;
    }

    .scene-animatable {
        width: 100%;
        top: 0;
        left: 0;    
        position: absolute;
        transform: translate(-50%, -50%);      
    }