/**
  * Engagement
  */
.scene-engagement .couple {
  width: 100%; }

.scene-engagement .exclamation-bubble {
  opacity: 0;
  left: 70%;
  top: 60%; }

.scene-engagement .exclamation-bubble.animate {
  animation: animateExclamation 2s forwards; }

.scene-engagement .caption {
  opacity: 0; }

.scene-engagement .caption.animate {
  animation: animateCaption 2s forwards;
  animation-delay: 2s; }

.scene-engagement .cta {
  opacity: 0; }

.scene-engagement .cta.animate {
  animation: animateCTA 1s forwards;
  animation-delay: 5s; }

@keyframes animateExclamation {
  0% {
    opacity: 0; }
  19% {
    opacity: 0; }
  20% {
    opacity: 1; }
  39% {
    opacity: 1; }
  40% {
    opacity: 0; }
  59% {
    opacity: 0; }
  60% {
    opacity: 1; }
  79% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }
