  /**
  * Engagement
  */
  .scene-engagement {
    $animation-duration: 2s;
    $animation-caption-duration: 2s;
    $animation-caption-start: 2s;
    $animation-cta-start: 4s;
    $animation-cta-duration: 1s;
  
    .couple {
      width: 100%;
    }
      
    .exclamation-bubble {
      opacity: 0;
      left: 70%;
      top: 60%;
  
      &.animate {
        animation: animateExclamation $animation-duration forwards;
      }
    }
  
    .caption {
      opacity: 0;
      &.animate {
        animation: animateCaption $animation-caption-duration forwards;
        animation-delay: $animation-caption-start;
      }
    }
    
    .cta {
      opacity: 0;
      &.animate {
        animation: animateCTA $animation-cta-duration forwards;
        animation-delay: $animation-cta-start;
      }
    }
    
    @keyframes animateExclamation {
        0% {
            opacity: 0;
        }
        19% {
            opacity: 0;
        }        
        20% {
            opacity: 1;
        }

        39% {
            opacity: 1;
        }            
        40% {
            opacity: 0;
        } 
        
        59% {
            opacity: 0;
        }                  
        60% {
            opacity: 1;
        } 

        79% {
            opacity: 0;
        }        
        80% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }        
    }  
  }  
  