  /**
  * Meet
  */
  .scene-house {
    $animation-duration: 1s;
    $animation-chimney-start: 6s;
    $animation-caption-start: 2s;
    $animation-cta-start: $animation-caption-start + 7s;
    $animation-cta-duration: $animation-duration;
    $further-text-duration: 1s;
    
    .couple {
      width: 100%;
    }
  
    .caption {
      opacity: 0;
      &.animate {
        animation: animateCaption $animation-duration forwards;
        animation-duration: $animation-caption-start;
      }
    }
    
    .cta {
      opacity: 0;
      &.animate {
        animation: animateCTA $animation-cta-duration forwards;
        animation-delay: $animation-cta-start;
      }
    }

    .chimney {
        left: 0%;
        top: 0%;        
        transform-origin: 63.4% 31.4%;
        transform: rotate(0deg); 

        &.animate {
            animation: animateChimney $animation-chimney-start forwards;
            animation-delay: $animation-duration;
            animation-timing-function: ease-in;
        }
    }

    .further-text {
        opacity: 0;
        &.animate {
            animation: pokeFadeIn $further-text-duration forwards;
            animation-delay: $animation-duration + 1s + $animation-chimney-start;
        }
    }

    .house-overlay {
        left: 50%;
        top: 50%;        
    }
  

  @keyframes animateChimney {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
        left: 0%;
        top: 0%;        
    }
    85% {
        top: 0%;        
        left: 15%;

    }        
    90% {
        transform: rotate(180deg);
        left: 15%;
        top:41%;
    }    
    100% {
        transform: rotate(180deg);
        left: 15%;
        top:41%;        
    }
  }  

}  
