  /**
  * Meet
  */
.scene-meet {
  $animation-duration: 4s;
  $animation-capation-start-80-percent: $animation-duration*1.4;
  $animation-cta-start-80-percent: $animation-duration*1.8;

  .couple {
    width: 100%;
  }
    
  .spark {
    opacity: 0;
    left: 85.1%;
    top: 116%;

    &.animate {
      animation: animateSpark $animation-duration;
    }
  }

  .monitor {
    opacity: 0;
    left: 77%;
    top: 118.6%;

    &.animate {
      animation: animateMonitors $animation-duration forwards;
    }    
  }

  .caption {
    opacity: 0;
    &.animate {
      animation: animateCaption $animation-capation-start-80-percent forwards;
    }
  }
  
  .cta {
    opacity: 0;
    &.animate {
      animation: animateCTA $animation-cta-start-80-percent forwards;
    }
  }
  
  @keyframes animateSpark {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    25.1% {
      opacity: 1;      
      left: 85.1%;
      top: 110.2%;    
    }
  
    35% {
      left: 85.1%;
      top: 114.5%;
    }
  
    60% {
      left: 112%;
      top: 114.5%;
    }
  
    80% {
      opacity: 1;
      left: 112%;
      top: 110.2%;
    }
    99% {
      opacity: 1;      
    }      
    100% {
      opacity: 0;
      left: 112%;
      top: 110.2%
    }  
  }

  @keyframes animateMonitors {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    10% {
      opacity: 0;
    }    
    15% {
      opacity: 1;
    }          
    24% {
      opacity: 1;
    }     
    25% {
      opacity: 0;
      left: 77%;
      top: 118.6%;
    }
  

    79% {
      opacity: 0;
      left: 116%;
    }
    80% {
      opacity: 1;
      left: 116%;
    }
    85% {
      opacity: 0;
    }    
    90% {
      opacity: 1;
    }        
    95% {
      opacity: 0;
    }     
    100% {
      opacity: 1;
      left: 116%;
    }
  }  
}  
