  /**
  * Now
  */
  .scene-now {
    $animation-duration: 2s;

    // loading text
    $animation-loading-text-duration: 1s;
    $animation-loading-text-start: 0s;

    // progress bar
    $animation-progress-duration: 1s;
    $animation-progress-start: 0s;

    // loading in
    $animation-loading-in-duration: 1s;
    $animation-loading-in-start: 0s;    

    // progress bar meter
    $animation-progress-meter-duration: 12s;
    $animation-progress-meter-start: 3s;

    // progress bar meter final
    $animation-progress-meter-final-duration: 1s;
    $animation-progress-meter-final-start: $animation-progress-meter-duration + $animation-progress-meter-start;

    // loading text
    $animation-loading-text-duration: 1s;
    $animation-loading-text-start: $animation-progress-meter-final-start + $animation-progress-meter-final-duration;
    
    // loading out
    $animation-loading-text-out-duration: 1s;
    $animation-loading-text-out-start: $animation-progress-meter-final-start + $animation-progress-meter-final-duration - 1s;

    // days remaining
    $animation-days-remaining-duration: 1s;
    $animation-days-remaining-start: $animation-progress-meter-final-start + $animation-progress-meter-final-duration;

    // rest top
    $animation-rest-top-duration: 1s;
    $animation-rest-top-start: $animation-days-remaining-start + $animation-days-remaining-duration;

    // couple
    $animation-couple-duration: 1s;
    $animation-couple-start: $animation-rest-top-start + $animation-rest-top-duration;

    // caption
    $animation-caption-duration: 1s;
    $animation-caption-start: $animation-couple-start + $animation-couple-duration;

    // cta
    $animation-cta-duration: 1s;    
    $animation-cta-start: $animation-caption-start + $animation-caption-duration + 2s;

    // hand
    $animation-hand-duration: 1s;
    $animation-hand-start: $animation-caption-start + $animation-caption-duration + 2s;

    $animation-clickable-start: $animation-hand-start;
    
    .couple {
      width: 100%;
      opacity: 0;
      margin-top: 120px;

      &.animate {
        animation: pokeFadeIn $animation-couple-duration forwards;
        animation-delay: $animation-couple-start;
      }      
    }

    .clickable {
        width: 100%;
        top: 50%;
        left: 5000%;
        height: 100%;        

        &.animate {
            left: 50%;
            animation: animateClickable 1s forwards;
            animation-delay: $animation-clickable-start;
        }
    }

    .progress-bar-container {
        padding-right: 7px;
        width: 100%;
        top: 50%;
        position: absolute;
        margin-top: -24px;

        &.rest-top {
            &.animate {
                animation: animateProgressBarMoveTop $animation-rest-top-duration forwards;
                animation-delay: $animation-rest-top-start;
            }
        }        
    }

    .loading-title {
        text-align: center;

        .loading-in {
            opacity: 0;
            display: none;

            &.animate {
                animation: pokeFadeInDisplayNone $animation-loading-in-duration forwards;
                animation-delay: $animation-loading-in-start;
            }
        }

        .loading-out {
            opacity: 1;

            &.animate {
                animation: pokeFadeOutDisplayNone $animation-loading-text-out-duration forwards;
                animation-delay: $animation-loading-text-out-start;
            }
        }

        .days-remaining {
            opacity: 0;
            &.animate {
                animation: pokeFadeIn $animation-days-remaining-duration forwards;
                animation-delay: $animation-days-remaining-start;
                
            }
        }
    }

    .progress-bar {
        opacity: 0;
        border-radius: 6px;
        padding: 4px;
        width: 100%;
        height: 48px;
        margin: 4px;
        color: #212529;
        background-color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
        border-image-repeat: space;
        margin-bottom: 1.5rem !important;

        border-style: solid;
        border-width: 4px;


        .progress-meter, .progress-meter-final {
            background-color: #000;
            height: 100%;
            width: 0%;
        }

        &.animate {
            animation: pokeFadeIn $animation-progress-duration forwards;
            animation-delay: $animation-progress-start;

            .progress-meter {
                animation: animateProgressMeter $animation-progress-meter-duration forwards;
                animation-delay: $animation-progress-meter-start;
            }

            .progress-meter-final {
                transition: width 1s ease;
                // opacity: 0;

                animation: animateProgressMeterFinal $animation-progress-meter-final-duration forwards;
                animation-delay: $animation-progress-meter-final-start;                
            }
        }
    }
  
    .caption {
      opacity: 0;
      &.animate {
        animation: animateCaption $animation-caption-duration forwards;
        animation-delay: $animation-caption-start;
      }
    }
    
    .cta {
      opacity: 0;
      &.animate {
        animation: animateCTA $animation-cta-duration forwards;
        animation-delay: $animation-cta-start;
      }

      .button-wrapper {
          padding-right: 1em;

          &:first-child {
            padding-right: 0;
          }
      }
    }

    .hand {
        opacity: 0;
        width: 10%;
        left: 64%;
        bottom: 5%;
        position: absolute;

        &.animate {
          animation: pokeFadeIn $animation-hand-duration forwards;
          animation-delay: $animation-hand-start;
        }
      }

    .hand-pulse {
        opacity: 0;
        position: absolute;
        left: 46%;
        bottom: 10%;
        width: 10%;
        border-radius: 45px;
        animation: animationPulse $animation-hand-duration infinite;
        animation-delay: $animation-hand-start;

        &.animate-fade-in {
            animation: pokeFadeIn $animation-hand-duration forwards;
            animation-delay: $animation-hand-start;
          }

        &.animate {
            animation: pokeFadeIn $animation-hand-duration forwards;
            animation-delay: $animation-hand-start;
        }
    }

    .share-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #fff;
        padding-right: 1em;

        .nes-balloon {
            width: 100%;
            height: 100%;
            overflow: scroll;
        }

        .icon-list {
            margin-bottom: 1em;

            a {
                margin: 0.5em;
                
                &:first-child {
                    margin-left:0;
                }

                &:last-child {
                    margin-right:0;
                }                
            }
        }
    }

    .baby-scan {
        width: 100%;
        margin: 0 auto;
        overflow: scroll;
    }

    @keyframes animateProgress {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }        
    }

    @keyframes animateProgressMeter {
        0% {
            width: 0%;
        }
        10% {
            width: 30%;
        }
        15% {
            width: 30%;
        }        
        30% {
            width: 50%
        }
        40% {
            width: 50%
        }        
        60% {
            width: 80%
        }
        80% {
            width: 0%;
        }                
        100% {
            width: 0%;
            display: none;
        }
    }

    @keyframes animateProgressBarMoveTop {          
        100% {
            top: 0;
            margin-top: 0;
        }                        
    }    

    @keyframes pokeFadeOutDisplayNone {          
        0% {
            filter: contrast(1) brightness(1);
            opacity: 1;
          }
        
          24% {
            filter: contrast(1) brightness(1);
            opacity: 1;
          }  
          25% {
            filter: contrast(0.5) brightness(1.5);
            opacity: 0.75;
          }
        
        
          49% {
            filter: contrast(0.5) brightness(1.5);
            opacity: 0.75;
          }  
          50% {
            filter: contrast(0.25) brightness(2);
            opacity: 0.5;
          }
        
        
          74% {
            filter: contrast(0.25) brightness(2);
            opacity: 0.5;
          }  
          75% {
            filter: contrast(0.175) brightness(2);
            opacity: 0.25;
          }  
        
          94% {
            filter: contrast(0.175) brightness(2);
            opacity: 0.25;
          }
          95% {
            filter: contrast(0) brightness(3);
            opacity: 0;
            position: inherit;
          }
          100% {
            filter: contrast(0) brightness(3);
            opacity: 0;
            position: fixed;
          }         
    }    

    @keyframes pokeFadeInDisplayNone {
        0% {
            display: inherit;
            filter: contrast(0) brightness(3);
            opacity: 0;
        }      
        24% {
            filter: contrast(0.175) brightness(2);
            opacity: 0.25;
        }
    
        25% {
            filter: contrast(0.175) brightness(2);
            opacity: 0.25;
        }  
        49% {
            filter: contrast(0.25) brightness(2);
            opacity: 0.5;
        }      
        50% {
            filter: contrast(0.25) brightness(2);
            opacity: 0.5;
        }      
        74% {
            filter: contrast(0.5) brightness(1.5);
            opacity: 0.75;
        }        
        75% {
            filter: contrast(0.5) brightness(1.5);
            opacity: 0.75;
        }      
        94% {
            filter: contrast(1) brightness(1);
            opacity: 1;
        }    
        95% {
          filter: contrast(1) brightness(1);
          opacity: 1;
        }
        100% {
          filter: contrast(1) brightness(1);
          opacity: 1;
        }    
    }

    @keyframes animationPulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(33, 156, 238, 0.8);
        }

        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(33, 156, 238, 0.2);
        }

        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(33, 156, 238, 0.2);
        }    
    }

    @keyframes animateClickable {
        100% {
            left: 50%;
        }    
    }
    
}  