.scene-virus {
    $animation-caption-duration: 2s;
    $animation-caption-start: 1s;
    $animation-cta-start: 6s;
    $animation-cta-duration: 1s;
  
    .virus {
        width: 200vh;
        height: 200vh;
        background-color: #000;
        margin-left: -50%;
        top: 0;
        /* margin-top: -100px; */
        z-index: -1;
    }

    
    .nes-container {
        &.with-title > .title {
            background-color: #000;
            color: #f2f2f2;
        }

        p {
            color: #f2f2f2;
        }

        &::after {
            border-color: #efefef;
        }        
    }

    .caption {
        opacity: 0;
        &.animate {
          animation: animateCaption $animation-caption-duration forwards;
          animation-delay: $animation-caption-start;
        }
      }
      
      .cta {
        opacity: 0;
        &.animate {
          animation: animateCTA $animation-cta-duration forwards;
          animation-delay: $animation-cta-start;
        }
      }

}