.scene-virus .virus {
  width: 200vh;
  height: 200vh;
  background-color: #000;
  margin-left: -50%;
  top: 0;
  /* margin-top: -100px; */
  z-index: -1; }

.scene-virus .nes-container.with-title > .title {
  background-color: #000;
  color: #f2f2f2; }

.scene-virus .nes-container p {
  color: #f2f2f2; }

.scene-virus .nes-container::after {
  border-color: #efefef; }

.scene-virus .caption {
  opacity: 0; }
  .scene-virus .caption.animate {
    animation: animateCaption 2s forwards;
    animation-delay: 1s; }

.scene-virus .cta {
  opacity: 0; }
  .scene-virus .cta.animate {
    animation: animateCTA 1s forwards;
    animation-delay: 6s; }
