  /**
  * Wedding
  */
  .scene-wedding {
    $animation-duration: 1s;
    $animation-capation-duration: 2s;
    $animation-caption-start: 3s;
    $animation-cta-duration: 1s;
    $animation-cta-delay: 5s;
    $animation-confetti-duration: 2s;
    $animation-confetti-delay: 0.5s;
  
    .couple {
      width: 100%;
    }

    .confetti {
        top: 50%;
        left: 50%;
        opacity: 0;
        &.animate {
            animation: pokeFadeIn $animation-confetti-duration forwards;
            animation-delay: $animation-confetti-delay;
        }
    }

    .caption {
      opacity: 0;
      &.animate {
        animation: animateCaption $animation-capation-duration forwards;
        animation-delay: $animation-caption-start;
      }
    }
    
    .cta {
      opacity: 0;
      &.animate {
        animation: animateCTA $animation-cta-duration forwards;
        animation-delay: $animation-cta-delay;
      }
    }
  }  
  